mixin gallery_card_mixin(score_title, author_name, img_src, score_url, author_url, avatar_src)
  .gallery-card
    a.card-image.score-link(href=score_url)
        img(src=img_src)
      
    .card-label
      .label-links
        strong 
          a(href=score_url)= score_title
        p by 
          a(href=author_url)= author_name
      a.card-avatar(href=author_url)
        img(src=avatar_src)
      